<h2>Members:</h2>
<ul>
	<% @event.members.each do |user| %>
		<li><%= user.guid %></li>
	<% end %>
</ul>

<%= form_for :event, :url => { :action => "write" } do |f| %>
	<input type="text" name="message" />
	<input type="submit" />
<% end %>
